body {
    margin: 0;
}

header {
    margin-top: 4px;
    margin-left: 4px;
    margin-bottom: 10px;
}

#updateSettings, #orderSettings, #itemSettings {
    display: inline-block; 
    padding-right: 10px;
    padding-left: 10px;  
    padding-bottom: 8px; 
    padding-top: 8px;
    background-color: #bbbbbb;
    border-style: solid;
    border-width: 1px;
}

#checkmark, #checkmarks {
    display: inline;
}

#cols, #rows, #size, #updateIntervalInSecs {
    display: inline;
    width: 40px;
}

#applyBtn {
    margin-left: 10px;
    width: 50px;
}

#orderNumber {
    width: 55px;
    margin-right: 4px;
}

#startingLaptop {
    width: 65px;
}

#laptopStatus h2 {
    display: inline;
    margin-right: 5px;
}

#ppbtn {
    margin-right: 10px;
    margin-left: 5px;
}

#laptop-info {
    display: grid;
    margin-left: 4px;
}

#requestError {
    display: none;
    position: fixed;
    top: 49%;
    left: 45%;
    font-size: xx-large;
}

.box{
  width: 16px;
  height: 16px;
  box-sizing: border-box;
  border-style: solid;
  border-width: 8px 0px 8px 16px;
  border-color: transparent transparent transparent red;
  transition: all 100ms ease-in-out;
}

label {
    font-size: medium;
    font-weight: 500;
}

.container{
    display: inline-block;
}

.pause{
  border-style: double;
  border-width: 0px 0px 0px 20px;
}