#checkmark {
    display: inline;
}

#checkmarks {
    display: inline;
}

#laptopStatus h2 {
    display: inline;
    font-size: 15px;
}

#laptop-info {
    display: grid;
}

h1 {
    display: inline;
    margin-right: 25px;
}

header {
    margin-bottom: 15px;
}


/* 
@media only screen and (max-width: 768px){
    header {
        background-color: black;
    }
} */
