#checkmark {
    display: inline;
}

#checkmarks {
    display: inline;
}

#laptopStatus h2 {
    display: inline;
    font-size: 15px;
}

#laptop-info {
    display: grid;
}

h1 {
    display: inline;
    margin-right: 25px;
}

header {
    margin-bottom: 15px;
    
}

* {
    /* box-sizing: border-box; */
    /* border: 1px solid red; */
}

.box{
  width: 25px;
  height: 25px;
  box-sizing: border-box;
  border-style: solid;
  border-width: 12px 0px 12px 25px;
  border-color: transparent transparent transparent red;
  transition: all 100ms ease-in-out;
}

label {
    font-size: medium;
}

.container{
    display: inline-block;
}

.pause{
  border-style: double;
  border-width:0px 0px 0px 20px;
}

/* 
@media only screen and (max-width: 768px){
    header {
        background-color: black;
    }
} */
